asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
distlib==0.3.9
Django==2.2.4
django-countries==5.5
django-crispy-forms==1.7.2
filelock==3.16.1
idna==3.10
pillow==11.0.0
platformdirs==4.3.6
pytz==2024.2
requests==2.32.3
six==1.17.0
sqlparse==0.5.2
stripe==2.37.1
tzdata==2024.2
urllib3==2.3.0
virtualenv==20.28.1
